html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
    width: 100%;
}
/* TODO:顶部菜单样式 */
.menu{
    padding-top: 5px;
    position: relative;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color:#363636;
    box-shadow: 0px 0px 6px black;
}
.menu ul{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    list-style-type: none;
}
/* 文字链接样式 */
.menu a{
    text-decoration: none;
    font: 14px 'Microsoft YaHei', '微软雅黑';
    font-weight: 600;
    color: rgba(255, 255, 255, 0.827);
}
/* 左侧 */
.menu .left{
    float: left;
    margin-left:3%;
}
/* 右侧 */
.menu .right {
    float: right;
    margin-right: 3%;
}

/* TODO:中部内容 */
.middle{
    padding: 0%;
    background-color:  white;
    height: 100%;
    width: 100%;
}
.nav_search{
    background: whitesmoke;
    border: 0.2px solid black;
    position: relative;
    height: 50px;
    width: 100%;
}
.inp_search{
    margin-top: 10px;
    display: inline-block;
    margin-left:35%;
    width: 700px;
    height: 40px;
}
.form_inp{
    position: relative;
}
.search_txt{
    padding-left: 10px;
    height: 22px;
    width: 470px;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px; 
    border: 1px solid grey;
    position:absolute;
}
.search_btn{
    height:26px;
    width: 60px;
    position: absolute;
    background: black;
    color: white;
    left: 482px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.nav-function{
    /* border: 0.2px solid black; */
    position: relative;
    height: 30px;
    width: 100%;
    background: whitesmoke;
}
.nav-function ul{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    list-style-type: none;
}
.fontfirst{
    margin-top: 0.2%;
    float: left;
    margin-left: 17%;
}
.font{
    margin-top: 0.2%;
    float: left;
    margin-left: 10%;
}
.nav-function a{
    text-decoration: none;
    font: 14px 'Microsoft YaHei', '微软雅黑';
    font-weight: 600;
    color: #828282;
}

.info{
    border: 0.2px solid black;
    float: left;
    margin-top: 30px;
    height: 800px;
    width:700px;
    margin-left: 255px;
}
.movie-name{
    border: 0.2px solid black;
    height: 40px;
    width: 100%;
}
.movie-name span{
    font-size: 25px;
    font-family: 'Microsoft YaHei';
    font-weight: 600;
}
.movie-img{
    float: left;
    height: 220px;
    width: 150px;
    border: 0.2px solid black;
    margin-top: 10px;
}
.movie-info{
    margin-left: 80px;
    height: 300px;
    width: 250px;
    border: 0.2px solid black;
    margin-top: 10px;
    float: left;
}
.info-show{
    padding-top: 10px;
    display:block;
}
.movie-intro{
    border: 0.2px solid black;
    height: 400px;
    width: 500px;
    clear: both;
}
.movie-intro #movie-name{
    padding-left:10px; 
    color: green;
}

.chose-seats{
    background: #E8E8E8;
    float: left;
    height: 50px;
    width: 100px;
    vertical-align: middle;
    margin-left: 10%;
    margin-top: 15%;
    border-radius: 10%;
}
.buy_btn{
    border:1px solid #363636;
    text-decoration: none;
    height:40px;
    width: 100px;
    background: #3A5FCD	;
    text-align: center;
    color: white;
}

.line-info{
    height: 900px;
    width: 250px;
    float: right;
    margin-right: 200px;
    border: 0.2px solid black;
}

#grade{
    color: rgb(251, 83, 83);
    font-size: larger;
}

.text2{
    display: inline-block;
    margin-top:10px;
    margin-bottom:10px;
}
/* TODO:底部信息样式 */
.information{
    clear: both;
    height: 50px;
    /* z-index: 9999; */
    background-color: rgba(250, 154, 124, 0.7);
}
/* TODO:返回顶部按钮 */
.back{
    position: fixed;
    text-decoration: none;
    text-align: center;
    right: 10px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    background: url("../img/back.png") no-repeat;
    border-radius: 15px;
}